{% load static %}
<footer class="footer-container white-text-container text-center">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <p><img src="{% static "img/images/mashup-icon.svg" %}" alt=""></p>
          
          <p>©All right reserved. Design <a href="http://www.mashup-template.com/" title="Create website with free html template">Mashup Template</a>/<a href="https://unsplash.com/" title="Beautiful Free Images">Unsplash</a></p>
          <p>
            <a class="fa-icon fa-icon-2x" href="https://facebook.com/" title="">
              <i class="fa fa-facebook"></i>
            </a>
            <a class="fa-icon fa-icon-2x" href="https://twitter.com/" title="">
              <i class="fa fa-twitter"></i>
            </a>
            <a class="fa-icon fa-icon-2x" href="https://dribbble.com/" title="">
              <i class="fa fa-dribbble"></i>
            </a>
            <a class="fa-icon fa-icon-2x" href="https://www.linkedin.com/" title="">
              <i class="fa fa-linkedin"></i>
            </a>
            <a class="fa-icon fa-icon-2x" href="https://vimeo.com/" title="">
              <i class="fa fa-vimeo"></i>
            </a>
          </p>
        </div>
      </div>
    </div>
  </footer>


  <script>
    document.addEventListener("DOMContentLoaded", function (event) {
       scrollRevelation('.card');
    });
  </script>
  
  <script type="text/javascript" src="{% static "js/main.bc58148c.js" %}"></script></body>
  
</html>